<div class="bg-white w-3/4 grid grid-cols-1 rounded-xl mx-44 my-9 shadow-2xl">
    <div class="flex flex-row my-10 ml-14 font-serif text-4xl">
        <div class=" basis-1/5 font-fredoka">Portfolio </div>
        <div class="text-rose-500 text-5xl -mt-6">______</div>
    </div>
    <div class="h-10 flex justify-end mb-8">
        <div class="p-4 text-lg hover:text-teal-500">Tout</div>
        <div class="p-4 text-lg hover:text-teal-500">Angular</div>
        <div class="p-4 text-lg hover:text-teal-500">Synfony</div>
        <div class="p-4 text-lg hover:text-teal-500">Node.js</div>
        <div class="p-4 text-lg hover:text-teal-500">Laravel</div>
    </div>
    <div class="grid grid-cols-3 gap-x-9">
        <div class="bg-blue-100 rounded-lg ml-5">
            <video id="video" controls preload="metadata" class="ml-2 mt-5 rounded-md">
                <source src="assets/video/Presentation_kooriFront.mkv" type="video/mkv">
                <!-- <source src="resources/myvideo.webm" type="video/webm"> -->
             </video>
            <h1 class="text-center">Fil Rouge</h1>
            <h2 class="text-center text-lg">Angular / Symfony</h2>
        </div>
        <div class="bg-red-100 rounded-lg">
            <video id="video" controls preload="metadata" class="ml-5 mt-5 rounded-md">
                <source src="https://www.youtube.com/watch?v=m99ZASPwvHs" type="video/mkv">
                <!-- <source src="resources/myvideo.webm" type="video/webm"> -->
             </video>
            <h1 class="text-center">Web Radio</h1>
            <h2 class="text-center text-lg">Angular / Laravel</h2>
        </div>
        <div class="bg-yellow-100 rounded-lg mr-5">
            <video id="video" controls preload="metadata" class="ml-5 mt-5 rounded-md">
                <source src="assets/video/Presentation_kooriFront.mkv" type="video/mkv">
                <!-- <source src="resources/myvideo.webm" type="video/webm"> -->
             </video>
            <h1 class="text-center">my money</h1>
            <h2 class="text-center text-lg">ionic / Symfony</h2>
        </div>
    </div>


    
    <app-footer></app-footer>
</div>

