<div class="h-screen bg-gray-100"><!-- h-creen pour prendre toute la hauteur de l'ecran -->

    <!-- header -->
    <div class="h-1/6 flex justify-between items-center">
        <!-- portfolio -->
        <div class="mx-10 font-fredoka text-3xl text-teal-400">Portfolio</div>
    
        <!-- menu -->
        <div class="mx-5">
            <button type="button" class="px-5 py-3 mx-5 rounded-xl bg-white hover:bg-teal-500 hover:text-white">Accueil</button>
            <button type="button" class="px-5 py-3 mx-5 rounded-xl bg-white hover:bg-teal-500 hover:text-white">A Propos</button>
            <button type="button" class="px-5 py-3 mx-5 rounded-xl bg-white hover:bg-teal-500 hover:text-white">Parcours</button>
            <button type="button" class="px-5 py-3 mx-5 rounded-xl bg-white hover:bg-teal-500 hover:text-white">Oeuvres</button>
            <button type="button" class="p-4 mx-5 rounded-full bg-white hover:bg-teal-500 hover:text-white" (click)="dark=!dark">
                
                <svg *ngIf="!dark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                </svg>
                  
                <svg *ngIf="dark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                </svg>
                
            </button>
        
        </div>
    </div>

    <!-- content -->
    <div class="bg-green-500 h-5/6">
        <router-outlet></router-outlet>
    </div>
</div>